html {
  background-color: #fdf6e3;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  font-size: 1.5rem;
}

footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

#contents {
  color: #93a1a1;
}

#favs {
  color: #93a1a1;
}

#facts {
  color: #93a1a1;
}

#types {
  color: #93a1a1;
}

#favs ol li:first-child {
  color: #719e47;
}

#favs ol li:nth-child {
  color: #2aa198;
}

#favs ol li:third {
  background-color: #657ba3;
}
